<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h5 class = "title">Boulder Dushanbe Old Folks Home Tip Out Calculator 
        <br></br>
        Let's get the heck out of here, shall we?</h5>
        <br/>
        <form class="amounts" action="/" method="POST"> 
          <label>
            Let's start with the TOTAL NET SALES!!  
          <input
          class = "input"
          name="net_sales"
          type="number"
          />
          </label>
          <br />
          <label>
            How much is owed (- for what's owed to you, + for what's owed to the house)?!?
          <input
          class = "input"
          name="amount_owed"
          type="number"
          />
          </label>
          <br />
          <label>
            Hit me up w the food sales...   
          <input
          class = "input"
          name="food_sales"
          type="number"
          />
          </label>
          <br />
          <label>
            ...and those AT SALES!
          <input
          class = "input"
          name="at_sales"
          type="number"
          />
          </label>
          <br/>
          <label>
            Any retail sales??????????
          <input
          class = "input"
          name="retail_sales"
          type="number"
          />
          </label>
          <br/>
          <label>
            Who was here today??
            <br />   
            <br />
          <input
          class="check"
          name="expo"
          type="checkbox"
          />
          Expo 
          </label>
          <br />
          <label>  
          <input
          class="check"
          name="busser"
          type="checkbox"
          />
          Busser 
          </label>
          <br />
          <label>  
          <input
          class="check"
          name="bartender"
          type="checkbox"
          />
          Bartender 
          </label>
          <br />
          <label>  
          <input
          class="check"
          name="host"
          type="checkbox"
          />
          Host 
          </label>
          <br />
          <p>Click Below!</p>
          <div class="title">
            <button type="submit" class = "button">Process!</button>
          </div>
        </form>
        <br />
</body>
</html>